.blanks {
  background-color: darkgrey;
  padding: 20px;
  color: lightblue;
  margin: 20px;
}


.radio {
  font-size: 20px;
}

h1 {
  color: lightblue;
  background-color: black;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

#ruby {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}
